.contact {
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
  }
  
  .contact-icon {
    color: var(--primary-color);
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 20px;
  }
  
  .contact-icon:hover {
    color: var(--color-text);
  }
  
  .contact-me {
    margin-top: 100px;
  }
  
  .contact-text {
    color: var(--color-text);
    font-size: 23px;
    margin-top: 10px;
  }
  
  .contact-me-title {
    color: var(--color-text);
    font-size: 30px;
    font-weight: 400;
  }
  
  .icon-contact-me {
    color: var(--primary-color);
    height: 20px;
  }
  
  .contact-me-btn {
    color: var(--color-text);
    text-decoration: none;
    background-color: var(--button-color);
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
  }
  
  .contact-me-btn:hover {
    transition-duration: 0.1s;
    border:1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--bg-color);
    font-weight: 600;
  }
  
  .contact-image {
    max-width: 500px;
  }
  
  
  /* smartphone */
  @media screen and (max-width: 768px)  {
    .contact {
      display: block;
      width: 100%;
    }
  
    .contact-me {
      text-align: center;
    }
  
    .contact-image {
      width: 330px;
      margin-left: 20px;
    }
  
    .contact-me-btn {
      width: 80%;
    }
  
    .icon-contact-me {
      height: 15px;
    }
  
    .contact-text {
      font-size: 16px;
    }
  
    .contact-container {
      display: grid;
      justify-content: center;
    }
  }
  
  
  /* tablet */
  @media screen and (min-width:768px) and (max-width:1023px) {
    .contact-image {
      width: 500px;
    }
  
    .contact-text {
      font-size: 22px;
    }
  }