.card-project {
  margin-left: 20px;
  background: var(--bg-card);
  border-radius: 10px;
  width: 300px;
  height: 370px;
  transition: all ease-in-out 1s;
  align-items: center;
  text-align: center;
}

.title-project {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: var(--color-title);
}

.text-project {
  color: var(--color-text);
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.buttons-project {
  display: flex;
  justify-content: center;
}

.card-project button {
  background-color: var(--button-color);
  color: var(--color-text);
  height: 40px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  width: 100px;
  border: none;
  margin: 1rem;
}

.card-project button:hover {
  background-color: var(--bg-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

