
/* reset */
a {
  all: unset;
}

.card-technologie {
  border-radius: 6px;
  padding: 20px;
  width: 300px;
  background-color: var(--bg-card);
  margin-left: 20px;
  margin-top: 20px;
}

.Image.large {
  height: 45px;
  width: 45px;
}

.Text {
  margin-top: 20px;
  color: var(--color-text);
  font-size: 15px;
  line-height: 1.5;
}

.Text.faded {
  color: var(--primary-color);
  cursor: pointer;
}

.Text.bold {
  font-weight: 500;
  color: var(--color-title);
}
