.about-container {
    margin-top: 200px;
  }
  
  .about-title {
    display: flex;
    justify-content: center;
    color: var(--color-title);
    font-weight: 400;
    font-size: 40px;
  }
  
  .about-image-paragraph {
    display:flex;
    justify-content: space-evenly;
  }
  
  .text-about-me {
    color: var(--color-text);
    margin-top: 50px;
    width: 45%;
    font-size: 22px;
  }
  
  .computer {
    width: 400px;
  }
  
  /* smartphone */
  @media screen and (max-width: 768px)  {
    .about-image-paragraph {
      display: block;
    }
  
    .computer-container {
      display: grid;
      justify-content: center;
    }
  
    .computer {
      margin: auto;
      width: 300px;
    }
  
    .text-about-me {
      width: 90%;
      margin-left: 20px;
    }
  }
  
  /* tablet */
  @media screen and (min-width:767px) and (max-width:1023px) {
    .about-container {
      margin-top: 200px;
    }
    
    .about-title {
      display: flex;
      justify-content: center;
      color: var(--color-text);
      font-size: 50px;
      font-weight: 400;
    }
    
    .about-image-paragraph {
      display: block;
    }
    
    .text-about-me {
      color: var(--color-text) ;
      margin-top: 50px;
      display: flex;
      justify-content: center;
    }
    
    .computer {
      width: 500px;
    }
  
  }