.projects {
  margin-top: 200px;
  border: 1px solid var(--color-primary);

}

.projects h1 {
  display: flex;
  justify-content: center;
  color: var(--color-title);
  font-size: 40px;
  font-weight: 400;
}

.projects-cards {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  row-gap: 30px;
  margin-top: 50px;

}

.project {
  margin-left: 20px;
  border: 1px solid var(--color-text);
  background-color: var(--bg-card);
  border-radius: 10px;
  width: 360px;
  height: 370px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.project:hover {
  background-color: var(--bg-card-hover);
}

.project img {
  width: 300px;
  margin-top: 10px;
  cursor: pointer;
}


@media screen and (max-width:768px) {
  .projects-cards {
    display: flex;
    flex-wrap: wrap;
  }

  .project {
    margin-top: 20px;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .projects-cards {
    display: flex;
    flex-wrap: wrap;
  }

  .project {
    margin-top: 20px;
  }
}