footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
 
.text-footer {
  color: var(--color-text);
  font-size: 16px;
}


@media screen and (max-width: 767px) {
  footer {
    display: flex;
    flex-direction: column;
  }
}