footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
 
.text-footer {
  color: var(--color-text);
  font-size: 16px;
}



@media screen and (max-width: 767px) {
  footer {
    display: flex;
    flex-direction: column;
  }

  .social-media-footer {
    margin-top: 20px;
  }
}