.technologies-container {
  margin-top: 200px;
}

.technologies-title {
  display: flex;
  justify-content: center;
  color: #f0f6fc;
  font-weight: 400;
  font-size: 40px;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin-top: 50px;
}

/* smartphone */
@media screen and (max-width: 767px) {
  .cards {
    display: grid;
    grid-template-columns: auto auto;
  }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cards {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
