:root {
  --color-text : #c9d1d9;
  --color-title: #f0f6fc;
  --primary-color: #58a6ff;
  --bg-color: #00040F;
  --bg-card: #161b22;
  --button-color: #297EA6;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
}

::-webkit-scrollbar {
  display: none;
}

